.style {
    width: 196vh;
    height: 100px;
    background-color: gray;
}

.big {
    width: 100px;
    height: 100px;
    padding-top: 300px;
    
}

.hh {
    padding-left:650px;
    padding-top: 20px;
}



